@media (prefers-color-scheme: dark){
    :root{
        --bg-body: #000000;
        --bg-page: #242424;
        --bg-title: #242424;
        --bg-subtitle: #242424;
        --bg-button: #181818;
        --bg-button-hover: #3e3e3e;
        --bg-label-hover: #3e3e3e;
        --bg-label-checked: #3e3e3e;
        --text: #ffffff;
        --text-subtitle: #ffffff;
        --text-hover-label: #ffffff;
        --text-hover-button: #ffffff;
        --text-checked: #ffffff;
        --border-button: #2e2e2e;
        --border: #3e3e3e;
        --border2: #181818;
        --border-homepage: #3e3e3e;
        --shadow: #000000;
        --shadow-label: #000000;
    }
}

@media (prefers-color-scheme: light){
    :root{
        --bg-body: #e5e7eb;
        --bg-page: #ffffff;
        --bg-title: #40e2a7;
        --bg-subtitle: #78a574;
        --bg-button: #e0f1a4;
        --bg-button-hover: #a0bf39;
        --bg-label-hover: #72c1cf;
        --bg-label-checked: #008296;
        --text: #000000;
        --text-subtitle: #ffffff;
        --text-hover-label: #000000;
        --text-hover-button: #ffffff;
        --text-checked: #ffffff;
        --border-button: #e5e7eb;
        --border: #000000;
        --border2: #181818;
        --border-homepage: #d3d3d3;
        --shadow: #000000;
        --shadow-label: #d3d3d3;
    }
}

* *{
    color: var(--text);
}
body{
    background-color: var(--bg-body);
}
.page{
    background-color: var(--bg-page);
}
button{
    background-color: var(--bg-button);
    border-color: var(--border-button);
}
button:hover{
    background-color: var(--bg-button-hover);
    color: var(--text-hover-button);
}
.header,h1{
    border-color: var(--border) !important;
    background-color: var(--bg-title);
}
h2{
    box-shadow: 5px 5px 0 0 var(--shadow);
    border-color: var(--border);
    background-color: var(--bg-subtitle);
    color: var(--text-subtitle);
}
label{
    box-shadow: 10px 10px 0px 0px var(--shadow-label);
    border-color: var(--border2);
}
label:hover{
    box-shadow: 6px 6px 0px 0px var(--shadow-label);
    /* without important, label:checked below has priority */
    background-color: var(--bg-label-hover) !important;
    color: var(--text-hover-label) !important;
}
label:has(input:checked){
    background-color: var(--bg-label-checked);
    color: var(--text-checked);
}
li:not([id="questao0"]) h1
,[id="questao0"] h1
,[id*="resposta"] h1{
    box-shadow: 8px 8px 0 0 var(--shadow);
}
[id="questao0"]>p:not(:last-child){
    border-bottom: 5px solid var(--border-homepage);
}