* *{
    margin: 0;
    padding: 0;
    font: 15px "Arial";
    border: 0;
}

body{
    place-items: center;
}

.page{
    width: 90%;
    height: 90%;
    place-items: center;
    margin: 20px;
}

input,button{
    margin: 15px;
    padding: 5px;
}

form{
    display: grid;
}

h1{
    padding: 20px;
}

button{
    border-radius: 15px;
    width: 75%;
}