* *{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: 0;
    text-decoration: none;
}

body{
    place-items: center;
}

.page{
    width: 90%;
    height: 90%;
    place-items: center;
    margin: 20px;
    padding: 5px;
}

input,button,li{
    margin: 15px;
    padding: 5px;
} li>p{
    padding: 10px;
}

form{
    display: grid;
}

h1{
    padding: 20px;
    text-align: center;
}

button{
    border-radius: 15px;
    width: 75%;
}

label{
    margin: 10px;
    padding: 5px;
}

.strong{
    display: inline;
    color: greenyellow;
}