* *{
    margin: 0;
    padding: 0;
    font: 22px "Arial";
    border: 0;
    text-decoration: none;
}

body{
    place-items: center;
}

.page{
    width: 90%;
    height: 90%;
    place-items: center;
    margin: 20px;
    padding: 50px;
}

input,button,li{
    margin: 15px;
    padding: 5px;
} li>p{
    padding: 10px;
}

form{
    display: grid;
}

h1{
    padding: 20px;
    text-align: center;
}

label{
    margin: 10px;
    padding: 5px;
}

.strong{
    display: inline;
    color: greenyellow;
}

button{
    border-radius: 15px;
    width: 200px;
    font-size: 20px;
    padding: 15px 20px;
}

footer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    place-items: center;
    position: fixed;
    bottom: 0;
    left: 35%;
    width: 30%;
}

li{
    display: none;
}